<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/base :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <h1 class="mt-4">Check Password</h1>
        <a href="/watchtable/myinfocorrect">/watchtable/myinfocorrect(All Members)[내정보수정]</a><br>
        <a href="/watchtable/manageinfocorrect">/watchtable/manageinfocorrect(Business Member)[사업자정보수정]</a><br>
        <a href="/watchtable/myinfo">/watchtable/myinfo(All Members)[취소]</a><br>
    </th:block>
</th:block>